## Main System
# example: https://example.com
APP_URL="http://localhost:3000"

## Umami Analytics
# example: https://example.com
UMAMI_HOST=""
# example: 661b12d9-a926-466d-8739-de23ee40fd5d
UMAMI_WEBSITE_ID=""

## @nuxtjs/og-image
# generate command: npx nuxt-og-image generate-secret
NUXT_OG_IMAGE_SECRET=""