database_url=postgresql://username:password@host:port/db_name
redis_url=redis://127.0.0.1:6379
sentry_dsn=
smtp_host=smtp.example.com
smtp_port=587
smtp_username=your_smtp_username
smtp_password=your_smtp_password
smtp_from=no-reply@example.com
