## Main System
# example: https://example.com
APP_URL="http://localhost:3000"

## Umami Analytics
# example: https://example.com
UMAMI_HOST=""
# example: 661b12d9-a926-466d-8739-de23ee40fd5d
UMAMI_WEBSITE_ID=""

## Sentry
# Sentry DNS. Used for Error Reporting on the Server
SENTRY_DSN=
# Sentry DNS. Used for Error Reporting in the Browser
PUBLIC_ENV__SENTRY_DSN=

# Force enable Sentry in development mode
FORCE_ENABLE_IN_DEV=false

## System
# example: production
NODE_ENV=